body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.5s; 
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 5px;
}