html , body{
  height: 100%;
  margin: 0 ;
  padding: 0 ;
}

table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td{
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.box-1{
  background-color: aqua;
}

.box-2{
  background-color: aquamarine;
}